{% extends 'base.html' %}

{% block content %}
<style>
    th {
        background-color: rgba(230, 112, 57, 0.87);
    }
    table, td, th{
        border: 1px solid black; border-radius: 12px;
    }
</style>
<center>
    <p><h4>Hello {{ current_user.username}}, Your Authored Blogs are:</h5> </P>
    <table style="border: 1px solid black; border-radius: 10px; padding: 3%; width: 80%;">
        <thead>
            <th>
                Category
            </th>
            <th>
                Content
            </th>
            <th>
                Read Count
            </th>
            <th>
                Rating Count
            </th>
        </thead>
        <br>
        <tbody>
            {% for a_blog in all_self_blogs %}

            <tr>
                <td>
                    {{ all_categories[((a_blog.category_id))] }}
                </td>
                <td>
                    <a href="/self_blog_detail/{{ a_blog.id}}/{{ all_categories[a_blog.category_id-2] }}">{{ a_blog.blog_text|safe|truncate(275)}}</a>
                </td>
                <td>
                    {{ a_blog.blog_read_count }}
                </td>
                <td>
                    {{ a_blog.blog_rating_count }}
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</center>
{% endblock%}